.header-area {
  padding: 20px 40px;
  box-shadow: 0px 5px 83px 0px rgb(27 26 26 / 12%);
}

.logo {
  a {
    display: inline-block;

    img {
      width: 174px;
    }
  }
}

.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 15px;

      a {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        color: rgb(4, 43, 111);

        &:hover {
          color: $theme-color-2;
        }
      }
    }
  }
}

.attr-menu {
  button {
    background: none;
    border: 0;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: rgb(4, 43, 111);
    line-height: 1;

    &:hover {
      color: $theme-color-2;
    }

    span {
      font-size: 18px;
    }
  }
}
